.contact__name {
	display: flex;
	align-items: center;
	font-family: inherit;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.03em;
	margin-bottom: 10px;
}

.contact__number {
	display: flex;
	align-items: center;
	font-family: inherit;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0.03em;
}

.contact__icon {
	stroke: var(--accent-color);
	fill: var(--accent-color);
	margin-right: 10px;
}

.btn {
	max-height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 5px;
	padding: 2px;
	transition: border-color 0.3s linear;
}

.btn:hover,
.btn:focus {
	border: 1px solid var(--accent-color);
}

.icon{
	fill: var(--accent-color);
}

