:root {
    --font-color: #fdfdfde1;
    --secondary-color: #99d42ad7;
    --accent-color: #689415f3;
    --background-color:#1d1b1b;
    --box-shadow: 0 6px 8px rgba(255, 255, 255, 0.589);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1d1b1b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  color: currentColor;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input{
  outline: transparent;
  border: none;
}

.form {
  margin: auto;
  padding: 40px;
  background-color: var(--background-color);
  box-sizing: border-box;
  overflow: hidden;
  /* min-height: 400px;
  min-width: 320px; */
}

.block {
  padding: 5px;
  position: relative;
  width: auto;
  height: auto;
  border-radius: 5px;
  background: var(--background-color);
  box-sizing: border-box;
}

.block:before,
.block:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(50deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094,
      #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

.block:after {
  filter: blur(5px);
}

.btn {
  padding: 3px;
  display: block;
  width: 100%;
  margin: auto;
  color: var(--font-color);
  font-family: inherit;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.03em;
  padding: 15px;
  background-color: var(--accent-color);
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover,
.btn:focus {
  background-color: var(--secondary-color);
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.descript {
  margin-bottom: 30px;
  position: absolute;
  top: 0px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  transition: all 0.3s ease;
  color: inherit;
}

.input {
  font-size: 24px;
  font-weight: 500;
  padding: 8px 10px;
  background-color: var(--background-color);
  border: none;
  border-bottom: 2px solid var(--accent-color);
  color: var(--font-color);
  width: 100%;
  outline: none;
  margin-bottom: 30px;
}

.input:focus+.descript,
.input:not(:placeholder-shown)+.descript {
  top: -1rem;
  font-size: 1rem;
  color: var(--accent-color);
}

.error{
  font-size: 18px;
  font-weight: 600;
  color: #9b31319a;
}

.container {
  padding: 2px;
  background-color: var(--background-color);
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  opacity: 0;
  transform: translateY(100%);
  animation: slideUp 2s forwards;
  align-items: center;
  margin-bottom: 20px;
  overflow: hidden;
}

@media (min-width:768px) {
  .container {
    grid-template-columns: 40% 60%;
  }
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}