.block{
	padding: 20px;
}

.title{
	font-size:48px;
	font-weight:900;
	margin-bottom: 20px;
	opacity: 0;
	transform: translateX(100%);
	animation: slideRight 2s forwards;
}

.textHero{
	font-size: 32px;
	font-weight: 600;
	font-weight: 500;
	margin-bottom: 20px;
	opacity: 0;
	transform: translateX(-100%);
	animation: slideLeft 2s forwards;
}

.titleLetter{
	color: var(--accent-color);
}

.titleLetterB{
	border-bottom: 1px solid var(--accent-color);
}

.img{
	display: block;
	max-height: 250px;
	width: 100%;
	object-fit: cover;
	box-sizing: border-box;
}

.descriptList{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.descriptItem{
	margin-bottom: 20px;
}

.descriptItem:last-child{
	margin-bottom: 0px;
}

.descriptTitle{
	display: flex;
	align-items: baseline;
	color: var(--accent-color);
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
}

.descriptIcon{
	display: inline-block;
	margin-right: 5px;
	fill: var(--accent-color);
	color: var(--accent-color);
}

.item{
	
	margin-bottom: 15px;
	display: flex;
	align-items: baseline;
}

.item:last-child{
	margin-bottom: 0px;
}

.listIcon{
	display: inline-block;
	margin-right: 5px;
	color: var(--accent-color);
	fill: var(--accent-color);
}

.text{
	font-size: 18px;
}

.icon{
	display: inline-block;
	margin-left: 10px;
	animation: rotateIcon 10s infinite ease-in-out;
	fill: var(--accent-color);
}

@keyframes slideRight {
	0% {
		opacity: 0;
		transform: translateX(100%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideLeft {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes rotateIcon {
	0% {
			transform: rotate(0deg) scale(1);
		}
	
		20% {
			transform: rotate(15deg) scale(1.2);
		}
	
		40% {
			transform: rotate(-15deg) scale(1.2);
		}
	
		50% {
			transform: rotate(0deg) scale(1);
		}
	
		100% {
			transform: rotate(0deg) scale(1);
	}
}

@media (min-width:768px) {
	.title{
		font-size: 64px;
	}

	.textHero{
		font-size: 32px;
	}

	.descriptTitle{
		font-size: 32px;
	}

	.text{
		font-size: 24px;
	}
}