.userMenu{
	display: flex;
	align-items: center;
}

.icon{
	fill: var(--accent-color);
	color: var(--accent-color);
	margin-right: 15px;
}

.icon:last-child{
	margin-right: 0px;
}

.text{
	color: var(--secondary-color);
	font-size: 20px;
	font-weight: bold;
	margin-right: 15px;
}

.userName{
	color: rgba(251, 255, 0, 0.932);
}

.btn{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 5px;
	padding: 2px;
	transition: border-color 0.3s linear;
}

.btn:hover,
.btn:focus{
	border: 1px solid var(--accent-color);
}